body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

button{
    font-family: 'Lato', sans-serif;
}

.bg-gray-900 {
    background-color: #121826;
}

.text-white {
    color: #fff;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.inline {
    display: inline;
}

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.m-8 {
    margin:  8px;
}

.p-8 {
    padding: 8px;
}

.pt-18 {
    padding: 18px;
}

.py-18 {
    padding-top: 18px;
    padding-bottom: 18px;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.px-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

.no-underline {
    text-decoration: none;
}

.bg-brand-teal {
    background-color: #539D98;
}

.border-none {
    border: none;
}

.rounded-full {
    border-radius: 9999px;
}